<div id="student_thumbnails">
  <% @students.each do |student| %>
    <%= link_to (image_tag("students/thumbnails/#{student.name}.jpg", :width => "12.5%")), url_for(student), :id => "#{student.id}", :title => "#{student.name}" %>
  <% end %>
</div>