html {
  width: 100%;
  height: 100%;
  background: black;
}

body {
  padding-top: 3%;
  width: 100%;
  height: 94%;
  background: lightgray;
  font-family: "Lucida Grande";
}

header {
  width: 80%;
  margin-left: 10%;
  background-color: #dcdcdc;
  box-shadow: 0px 0px 0px 5px #666 inset;
}

header h1 {
  width: 90%;
  text-align: center;
  font-size: 200%;
  padding: 2%;
  text-decoration: none;
}

#menu {
  margin-left: 10%;
  margin-top: 2%;
  width: 15%;
  float: left;
}

.button {
  padding: 15px;
  background-color: #dcdcdc;
  box-shadow: 0px 0px 40px 10px #666 inset;
  color: #551A8B;
}

#log_in_button, #student_button, #instructor_button, #vote_button {
  font-size: 150%;
  text-decoration: none;
  width: 100%;
}

.input {
  height: 40px;
}

#wrapper {
  height: 65%;
  width: 58%;
  margin-left: 28%;
  margin-top: 2%;
  padding: 2%;
  background-color: #dcdcdc;
  box-shadow: 0px 0px 0px 5px #666 inset;
}

#welcome {
  font-size: 130%;
  line-height: 150%;
}

#search {
  margin-bottom: 2%;
  margin-left: 18%;
}

#student_thumbnails, #instructor_thumbnails {
  margin-left: 4%;
}

#student_photo, #instructor_photo {
  width: 50%;
  height: 80%;
  border: 5px solid #666;
  float: left;
}

#student_quote, #instructor_quote {
  width: 42%;
  height: 75%;
  padding: 2%;
  box-shadow: 0px 0px 0px 5px #666 inset;
  float: right;
}

#back {
  width: 20%;
  margin: 10% auto;
  padding: 2%;
  box-shadow: 0px 0px 0px 5px #666 inset;
  text-align: center;
}

footer {
  margin-top: 2%;
  margin-left: 76%;
}

.devise_title {
  width: 20%;
  box-shadow: 0px 0px 0px 5px #666 inset;
  font-size: 180%;
  padding: 2%;
  text-align: center;
  margin: 2% auto 2% auto;
}

.devise_form {
  text-align: center;
  font-size: 125%;
  line-height: 125%;
}

#devise_email_label, #devise_password_label, #devise_email_field, #devise_password_field {
  line-height: 100%;
}

 #vote_title, #student_title, #instructor_title {
  width: 40%;
  box-shadow: 0px 0px 0px 5px #666 inset;
  font-size: 180%;
  padding: 2%;
  text-align: center;
  margin: 2% auto 2% auto;
 }

 #student_title, #instructor_title {
  margin: 0% auto 2% auto;
 }

 #instructor_quote, #student_quote {
  font-size: 150%;
  line-height: 150%;
 }

 .superlative_list_item  {
  width: 75%;
  float: left;
  margin-left: 5%;
 }

 .student_dropdown {
  width: 20%;
  float: right;
 }

.notice, .alert {
  font-size: 150%;
  text-align: center;
  color: red;
}