html {
  width: 100%;
  background: black;
}

body {
  width: 60%;
  background: white;
  margin: auto;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0% 5% 0% 5%;
}

header h1 {
  background: lightgray;
}

#log_in {
  float: right;
}