html {
  width: 100%;
  height: 100%;
  background: #634000;
}

body {
  margin: auto;
  padding-top: 3%;
  box-shadow: 0px 0px 0px 15px #90733F inset;
  width: 94%;
  height: 94.5%;
  background: #FFA500;
  font-family: "Lucida Grande";
}

a {
  color: #631800;
}

header {
  padding: 1%;
  width: 80%;
  margin-left: 10%;
  background-color: #FFE1AA;
  box-shadow: 0px 0px 0px 10px #634000 inset;
}

header h1 {
  width: 90%;
  text-align: center;
  font-size: 200%;
  padding: 2%;
  text-decoration: none;
}

#menu {
  margin-left: 10%;
  margin-top: 2%;
  width: 15%;
  float: left;
}

.button {
  padding: 15px;
  background-color: #FFC75E;
  box-shadow: 0px 0px 0px 7.5px #634000 inset;
}

#log_in_button, #student_button, #instructor_button, #vote_button, #results_button {
  font-size: 150%;
  display: inline-block;
  margin-bottom: 5%;
  padding: 12.5%;
}

#submit_vote_button {
  margin-top: 0%;
  margin-left: 40%;
  width: 20%;
  font-size: 140%;
  background-color: #FFC75E;
  box-shadow: 0px 0px 0px 7.5px #634000 inset;
}

.input {
  width: 159px;
  height: 45px;
}

#wrapper {
  height: 65%;
  width: 58%;
  margin-left: 28%;
  margin-top: 2%;
  padding: 2%;
  background-color: #FFC75E;
  box-shadow: 0px 0px 0px 5px #90733F inset;
}

#welcome {
  font-size: 130%;
  line-height: 150%;
}

#search {
  margin-bottom: 2%;
  margin-left: 14%;
}

#student_thumbnails, #instructor_thumbnails {
  margin-left: 4%;
}

#find_student_button, #find_instructor_button {
  width: 25%;
  font-size: 100%;
}

#student_photo, #instructor_photo {
  width: 50%;
  height: 80%;
  border: 5px solid #90733F;
  float: left;
}

#student_quote, #instructor_quote {
  width: 42%;
  height: 65%;
  padding: 2%;
  box-shadow: 0px 0px 0px 5px #90733F inset;
  float: right;
}

#back_button {
  margin-top: 1%;
  width: 42%;
  height: 3%;
  padding: 2%;
  box-shadow: 0px 0px 0px 5px #90733F inset;
  float: right;
  text-align: center;
}

footer {
  margin-top: 2%;
  margin-left: 75%;
}

.devise_title {
  width: 20%;
  box-shadow: 0px 0px 0px 5px #634000 inset;
  font-size: 180%;
  padding: 2%;
  text-align: center;
  margin: 2% auto 2% auto;
  background-color: #FFE1AA;
}

.devise_form {
  text-align: center;
  font-size: 125%;
  line-height: 125%;
}

#devise_email_label, #devise_password_label, #devise_email_field, #devise_password_field {
  line-height: 100%;
}

#devise_submit_button {
  width: 20%;
  font-size: 140%;
  background-color: #FFC75E;
  box-shadow: 0px 0px 0px 7.5px #634000 inset;
}

 #vote_title, #student_title, #instructor_title, #superlatives_title {
  width: 44%;
  box-shadow: 0px 0px 0px 5px #634000 inset;
  background-color: #FFE1AA;
  font-size: 180%;
  padding: 2%;
  text-align: center;
  margin: 0% auto 2% auto;
 }

 #vote_title {
  margin-bottom: 1%;
 }

 #instructor_quote, #student_quote {
  font-size: 150%;
  line-height: 150%;
 }

 #superlative_list {
  line-height: 90%;
 }

 .superlative_list_item  {
  width: 75%;
  float: left;
  margin-left: 5%;
 }

 #winner_list {
  margin-left: 25%;
 }

 #winner_superlative {
  width: 63%;
  border-top: 5px solid #90733F;
  border-left: 5px solid #90733F;
  border-right: 5px solid #90733F;
  text-align: center;
  padding: 1%;
 }

 #winner_name {
  width: 63%;
  border-left: 5px solid #90733F;
  border-right: 5px solid #90733F;
  border-bottom: 5px solid #90733F;
  text-align: center;
  padding: 1%;
 }

 #winner_photo {
  width: 65%;
  border: 5px solid #90733F;
 }

 .student_dropdown {
  width: 20%;
  float: right;
 }

 .notice, .alert {
  font-size: 150%;
  text-align: center;
  color: red;
 }